quake3:
    image: michalkozakgd/quake3-osp-server
    container_name: q3aospserver
    restart: always
#   This will run non-default server arguments, e.g. freezetag, instead of default instagib.
#   command: +set dedicated 1 +set fs_game osp +exec freezetag.cfg
    ports:
        - "27960:27960/udp"
    volumes:
        - /path/to/pak0.pk3:/usr/share/games/quake3/baseq3/pak0.pk3
        - /path/to/server.cfg:/usr/share/games/quake3/osp/server.cfg